<ion-view view-title=" ماذا يمكنني ان أتناول">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">


        <div class="item card-item">
            <div class="card stable-bg ink ink-dark">
                <div class="item  item-text-wrap text-center  ">
                    اختر نوعا من الطعام من خلال القوائم أو اختر المقادير من خلال صفحة اختيار المقادير
                </div>
            </div>
        </div>


        <div class="item card-item" >
            <div class="card calm-bg ink ink-dark balanced-bg" ui-sref="app.custom">
                <div class="item  item-text-wrap text-center light" style="font-size: 130%">
                    اختيار المقادير
                </div>
            </div>
        </div>


            <div class="item card-item" >
                <div class="card calm-bg ink ink-dark assertive-bg" ng-click="showList()">
                    <div class="item  item-text-wrap text-center light" style="font-size: 130%">
اختر المطبخ
                    </div>
                </div>
            </div>



        <div class="list ">



            <div class="center">
                <div  class="card card-gallery item item-text-wrap" style="width:{{w}}; height:{{h}}; overflow: auto">
                    <div class=" dark-bg araby" >
                        <h2>{{picLabel}}</h2>
                        <img class="full-image no-resize" ng-src="{{kitchenPic}}" style="width:100%; height:{{h2}}" >
                    </div>
                </div>
            </div>

        </div>

            <div class="item card-item" >
                <div class="card calm-bg ink ink-dark assertive-bg" ng-click="showList2()">
                    <div class="item  item-text-wrap text-center light" style="font-size: 130%">
                        اختر الطعام
                    </div>
                </div>
            </div>


        <div class="list">

            <div class="center">
                <div class="card card-gallery item item-text-wrap" style="width:{{w}}; height:{{h}}; overflow: auto">
                    <div class="dark-bg araby" >
                        <h2>{{picLabel2}}</h2>
                        <img class="full-image no-resize "  ng-src="{{foodPic}}" style="width:100%; height:{{h2}}">
                    </div>
                </div>
            </div>



            <button class="button button-full button-assertive" ui-sref="app.food2">
                متابعة            </button>


        </div>
    </ion-content>
</ion-view>
